@import "tailwindcss";
/* Container background */
.common-bg {
  @apply bg-[#a3cdff73] h-screen flex justify-center items-center;
}

/* Login box */
.login-bg {
  @apply bg-white shadow-[rgba(50,50,93,0.25)_0px_50px_100px_-20px,rgba(0,0,0,0.3)_0px_30px_60px_-30px]
         rounded-lg;
}

/* Image wrapper */
.login-img {
  @apply flex justify-center items-center h-full;
}

/* Login image size */
.login-img img {
  @apply w-[300px] h-[300px] md:w-[350px] md:h-[350px] lg:w-[400px] lg:h-[400px];
}

/* Form container */
.login-form {
  @apply flex flex-col justify-center gap-6 
         pl-0 pr-0 
         sm:pl-10 sm:pr-0 
         md:pl-[30px] md:pr-[30px] 
         lg:pl-[100px] lg:pr-[40px] 
         h-full;
}

/* Title */
.login-title {
  @apply font-['Exo_2'] font-semibold text-4xl md:text-5xl ;
}

/* Colored span */
.login-title span:last-child {
  @apply text-[#5c6cbb];
}


.custom-login-input {
  @apply rounded-[6px] border
         shadow-[rgba(127,157,219,0.24)_0px_3px_8px] 
         px-4 py-1.5 text-black font-semibold;
}


























/* normal css */
.login-bg{box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;}

